<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.yoavsror.tidybar</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tidybar</string>
			</array>
		</dict>
	</array>
	<key>ThawRepositoryURL</key>
	<string>https://github.com/yoavs01/Tidybar</string>
	<key>ThawDonateURL</key>
	<string>https://github.com/yoavs01/Tidybar</string>
	<key>ThawMenuBarItemSpacingExecutableURI</key>
	<string>file:///usr/bin/defaults</string>
	<key>ThawSkyLightFrameworkPath</key>
	<string>/System/Library/PrivateFrameworks/SkyLight.framework/SkyLight</string>
</dict>
</plist>
